@import "src/scss/colors";

.container {
  display: grid;
  grid-template-columns: 72px 1fr;
  font-weight: 700;
  font-size: 32px;
  gap: 8px 24px;
  position: relative;
  justify-content: center;
  align-items: center;

  &__title {
    line-height: 48px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $grey;
  }

  &__point {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    &:after {
      content: "";
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 21px;
      top: 52px;
      background: rgba(255, 255, 255, 0.24);
      position: absolute;
    }
  }

  &__dottedLine {
    display: flex;
    justify-content: center;
  }
}

.hide {
  opacity: 0;
}
