@import "src/scss/colors";
@import "src/scss/mixins";

.header {
  height: 100vh;
  &__top {
    margin-top: 18px;
    padding-bottom: 16px;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
    }
  }

  &__logo {
  }

  &__nav {
    margin-left: auto;
    border-right: 1px solid $grey;

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__item {
      margin-right: 40px;

      &:last-child {
        margin-right: 32px;
      }
    }

    &__link {
      line-height: 28px;

      &:hover {
        color: $orange;
      }
    }
  }

  &__btnBox {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 14px;
    cursor: pointer;
    margin-left: 32px;
    &__description {
      font-size: 18px;
      line-height: 32px;

      &__title {
        font-weight: 500;
        line-height: 24px;
        opacity: 0.7;
      }

      &__tel {
        font-size: 18px;
        line-height: 32px;
        font-weight: 600;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-height: 632px;
    margin: 0 auto;
    padding-bottom: 135px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__textContent {
    > * {
      margin-bottom: 30px;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 131%;
    letter-spacing: -0.03em;
  }

  &__openBlock {
    display: inline-flex;
    align-items: center;
    &:before {
      content: "";
      display: block;
      width: 31px;
      height: 31px;
      background: url("../../assets/svg/Clock.svg") no-repeat;
      margin-right: 12px;
    }
    &__title {
      font-weight: 500;
      font-size: 16px;
      color: $grey;
      line-height: 150%;
    }

    &__subTitle {
      font-weight: 600;
      font-size: 18px;
      color: $black;
      line-height: 175%;
    }
  }

  &__imageContent {
    position: relative;
    img {
      max-width: 605px;
      max-height: 632px;
    }
  }

  &__advertising {
    box-shadow: 0px 0px 0px 12px rgba(225, 225, 225, 0.43);
    border-radius: 59px;
    background: $white;
    position: absolute;
    display: inline-flex;
    align-items: center;
    z-index: 1000;
    letter-spacing: -0.03em;
    font-weight: 600;
    font-size: 24px;
    color: $black;

    &__time {
      width: 70px;
      height: 70px;
      border-radius: 35px;
      background: $mint;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: $white;
      margin-right: 13px;

      &_hr {
        font-size: 16px;
      }
    }

    &__gradeBox {
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      &_rating {
        color: $grey;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  &__service {
    left: -30px;
    top: 81px;
    padding: 13px 15px;
  }

  &__rating {
    bottom: 70px;
    right: -30px;
    width: 326px;
    padding: 24px 32px;
  }
}

.container {
  @include container;
}

.button {
  @include button;
}

.playVideo {
  background: transparent;
  color: $black;
  max-height: 54px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-left: 30px;
  &:hover {
    border: $black 1px solid;
  }

  span {
    display: inline-flex;
    &:before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url("../../assets/svg/PlayIcon.svg") no-repeat;
      margin-right: 12px;
    }
  }
}
