@import "colors";

@mixin container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

@mixin wrapper {
  min-height: 100svh;
  min-width: 100%;
  overflow: hidden;
}

@mixin button {
  border-radius: 12px;
  padding: 16px 40px;
  background: $orange;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

@mixin section {
}
